@charset "UTF-8";
/*Tipografia*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
/*Paleta de colores de la web*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: #b1bdac;
}

.btn-adidas {
  background-color: #b1bdac;
  border: 2px #ff7300 solid;
}
.btn-adidas:hover {
  background-color: #ff7300;
}

.btn-comprar {
  background-color: #ff7300;
  color: #1b1550;
  border-color: #ff7300;
}

/*Estas son las cards que utilizo en las paginas con productos*/
.card {
  background-color: #1b1550;
  transition: 1s ease-out;
}
.card:hover {
  transform: scale(0.96);
}
.card .card-body {
  color: #b1bdac;
}
.card .card-body h5 {
  color: #ff7300;
}

header {
  background-color: #1b1550;
}

/*Logo de la pagina*/
.navbar-brand {
  max-width: 200px;
  flex-shrink: 1; /*Permitir que el logo se encoja para que se siga viendo*/
  transition: 0.5s ease-out;
}
.navbar-brand img {
  width: 100%; /*La imagen ocupa todo el ancho del contenedor*/
  height: auto;
  display: block;
}
.navbar-brand img:hover {
  transform: scale(1.1);
}

.navbar-nav .nav-link {
  color: #b1bdac;
  font-weight: 900;
  font-size: clamp(1.2rem, 2vw, 3rem);
  transition: 1s ease-out;
}
.navbar-nav .nav-link:hover {
  color: #ff7300;
  transform: translateX(15px);
}
.navbar-nav .nav-link:active {
  color: #ff7300 !important; /*Pisa el valor por defecto de bootstrap*/
}
@media (min-width: 1024px) {
  .navbar-nav .nav-link:hover {
    transform: translateY(10px);
    margin: 0px 10px;
  }
}

/*Estilo del main de la pagina de index*/
.guiaIndice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  padding: 10px;
}

.index-main {
  overflow: hidden;
  width: 100%;
}

.index-row1 {
  background-color: #b1bdac;
  margin: 0;
  width: 100%;
}

.textoInformativo {
  background-color: #b1bdac;
  color: #1b1550;
  padding: 20px;
}
.textoInformativo .tituloIndex {
  font-size: 2rem;
  transition: 1s ease-in;
  margin-bottom: 2rem;
}
.textoInformativo .tituloIndex:hover {
  transform: scale(1.05);
  text-decoration: underline;
  margin: 30px auto;
  text-shadow: 4px 4px 10px rgb(0, 0, 0);
}
@media (min-width: 1024px) {
  .textoInformativo .tituloIndex {
    font-size: 4rem;
  }
}

/*Carousel*/
.carousel-item {
  background-color: #b1bdac;
}
.carousel-item img {
  width: 100%;
  height: 400px;
  object-fit: cover; /* ← Recorta la imagen para llenar el espacio sin deformarse */
}

/*ScrollSpy*/
#list-example .list-group-item {
  text-align: center;
  background-color: #b1bdac;
  border-color: #1b1550;
  box-shadow: 3px 5px 5px rgb(0, 0, 0);
}
#list-example .list-group-item-action:hover {
  background-color: #ff7300;
  color: #1b1550;
}

/*Pagina que contiene el estilo que de momento es utilizado en las demas pages del sitio
por lo que esta seccion va a afectar a las pages: futbol, hombre, kids y mujer*/
.tituloImagen {
  color: #1b1550;
}

.figureImagen {
  margin: 0;
  display: inline-block;
  max-width: 100%;
}
.figureImagen img {
  display: block;
}

.filaImagen {
  width: 100%;
  margin: 0;
  background-color: #b1bdac;
}

.mosaicoProductos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .mosaicoProductos {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1024px) {
  .mosaicoProductos {
    grid-template-columns: repeat(4, 1fr);
  }
}

.novedades {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.novedades p {
  font-size: clamp(20px, 2rem, 50px);
  font-weight: 900;
  color: #1b1550;
}
.novedades .pelota {
  width: 100px;
  height: auto;
  border-radius: 100%;
  /*Animacion*/
  animation: rodar 10s ease-in-out infinite;
  transition: 1s;
}
@keyframes rodar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1440deg);
  }
}

/*Footer de la web*/
footer .accordion .accordion-item {
  background-color: #ff7300;
  color: #1b1550;
}
footer .accordion .accordion-item .accordion-button {
  background-color: #1b1550;
  color: #b1bdac;
}

.listaRedes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2rem;
  flex-wrap: wrap; /*Para que en mobile se realice el salto de linea*/
  list-style: none;
  margin-top: 10px;
}
.listaRedes a {
  color: #ff7300;
  background-color: #1b1550;
  text-decoration: none;
  padding: 10px;
  border: 2px solid #b1bdac;
  border-radius: 10%;
}
.listaRedes a:hover {
  color: #b1bdac;
}

/*# sourceMappingURL=styles.css.map */
