@use "../utilities/variables" as v;
@use "../components/botones";
@use "../utilities/mixins" as m;

/*Estilo del main de la pagina de index*/
.guiaIndice {
    @include m.flex-center(); //Usa los valores por defecto: row, center, center
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    padding: 10px;
}

.index-main {
    overflow: hidden;
    width: 100%;
}

.index-row1 {
    background-color: v.$colorSecundario;
    margin: 0;
    width: 100%;
}

.textoInformativo {
    background-color: v.$colorSecundario;
    color: v.$colorPrimario;
    padding: 20px;

    .tituloIndex{
        font-size: 2rem;
        margin-bottom: 2rem;

        @media (min-width:1024px){
            font-size: 4rem;
        }
    }
}

/*Carousel*/
.carousel-item {
    background-color: v.$colorSecundario;
    img{
        width: 100%;
        height: auto;
        object-fit: cover;/* ← Recorta la imagen para llenar el espacio sin deformarse */
    }
}
