@use "../utilities/variables" as v;
@use "../components/botones";

/*Logo de la pagina*/
.navbar-brand {
    max-width: 250px;
    flex-shrink: 1;
    /*Permitir que el logo se encoja para que se siga viendo*/
    transition: 0.5s ease-out;

    img {
        width: 100%;
        /*La imagen ocupa todo el ancho del contenedor*/
        height: auto;
        display: block;

        &:hover {
            transform: scale(1.1);
        }
    }
}
#navbarNav{
width: 100%;
}
.navbar-nav {
    width: 100%;
    justify-content:center;
    @media (min-width: 1024px){
        gap: 3rem;
    }
    
    .nav-link {
        color: v.$colorSecundario;
        font-weight: 900;
        font-size: clamp(1.2rem, 2vw, 3rem);

        transition: 0.3s ease-out;

        &:hover {
            color: v.$colorTerciario;
            transform: translateX(15px);

        }

        &:active {
            color: v.$colorTerciario !important;
            /*Pisa el valor por defecto de bootstrap*/
        }

        @media (min-width: 1024px) {
            &:hover {
                transform: translateY(10px);
                margin: 0px 10px;
            }
        }
    }

    .carrito {
        max-width: 60px;
    }
}