@use "../utilities/variables" as v;

/*Estas son las cards que utilizo en las paginas con productos*/
.card {
    background-color: v.$colorPrimario;
    transition: 1s ease-out;
    &:hover{
        transform: scale(0.96);
    }
    .card-body{
        color: v.$colorSecundario;
        h5{
            color: v.$colorTerciario;
        }
    }
}

.card_carrito{
    border: 2px solid v.$colorPrimario;
    img{
         width: 100%;          /* ← Se adapta al ancho de su columna */
        height: auto;         /* ← Mantiene la proporción */
        max-width: 250px;     /* ← No crece más de 250px */
    }
    h2{
        text-decoration: underline;
        font-size: 1.5rem;
    }
    p{
        font-size: 1rem;
    }
    h3{
        font-weight: 900;
        font-size: 1.2rem;
    }
}